
body{
    background-color: rgb(244, 244, 137);
    text-align: center;
}
#message{
    font-size: 150px;
}
#greeting{
font-style: italic;
font-size: 80px;
}
#prompt{
    font-size: 40px;
}
button{
    background-color:rgb(255, 161, 175);
    color:white;
}